<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ammo.png</key>
            <dict>
                <key>height</key>
                <integer>28</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>28</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>46</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>150</integer>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>height</key>
                <integer>63</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>63</integer>
                <key>originalWidth</key>
                <integer>126</integer>
                <key>width</key>
                <integer>126</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>344</integer>
            </dict>
            <key>ground1.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>150</integer>
                <key>y</key>
                <integer>314</integer>
            </dict>
            <key>ground2.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>150</integer>
                <key>y</key>
                <integer>280</integer>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>height</key>
                <integer>25</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>25</integer>
                <key>originalWidth</key>
                <integer>27</integer>
                <key>width</key>
                <integer>27</integer>
                <key>x</key>
                <integer>100</integer>
                <key>y</key>
                <integer>67</integer>
            </dict>
            <key>lavaa.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>196</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>lavab.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>196</integer>
                <key>y</key>
                <integer>214</integer>
            </dict>
            <key>lavac.png</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>180</integer>
            </dict>
            <key>pl01.png</key>
            <dict>
                <key>height</key>
                <integer>96</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>96</integer>
                <key>originalWidth</key>
                <integer>96</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>100</integer>
                <key>y</key>
                <integer>100</integer>
            </dict>
            <key>pl02.png</key>
            <dict>
                <key>height</key>
                <integer>96</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>96</integer>
                <key>originalWidth</key>
                <integer>96</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>67</integer>
            </dict>
            <key>pl03.png</key>
            <dict>
                <key>height</key>
                <integer>96</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>96</integer>
                <key>originalWidth</key>
                <integer>96</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>130</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>pl04.png</key>
            <dict>
                <key>height</key>
                <integer>95</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>95</integer>
                <key>originalWidth</key>
                <integer>96</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>165</integer>
            </dict>
            <key>player.png</key>
            <dict>
                <key>height</key>
                <integer>48</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>48</integer>
                <key>originalWidth</key>
                <integer>48</integer>
                <key>width</key>
                <integer>48</integer>
                <key>x</key>
                <integer>198</integer>
                <key>y</key>
                <integer>100</integer>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>height</key>
                <integer>80</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>80</integer>
                <key>originalWidth</key>
                <integer>94</integer>
                <key>width</key>
                <integer>94</integer>
                <key>x</key>
                <integer>100</integer>
                <key>y</key>
                <integer>198</integer>
            </dict>
            <key>wall1.png</key>
            <dict>
                <key>height</key>
                <integer>80</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>80</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>80</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>262</integer>
            </dict>
            <key>wall2.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>184</integer>
                <key>y</key>
                <integer>282</integer>
            </dict>
            <key>wall3.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>84</integer>
                <key>y</key>
                <integer>280</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:949a81fc8d87a2b6314d8cc398a25d3f$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>512</integer>
            <key>width</key>
            <integer>256</integer>
        </dict>
    </dict>
</plist>
